body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
#sql-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#send-button, #populate-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:  #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px; /* Added margin for spacing */
}
#send-button:hover, #populate-button:hover {
    background-color: rgb(69, 136, 160);
}
#results {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
